/* .easteregg .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(114, 0, 0);
    color: goldenrod;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
  
.easteregg:hover .tooltiptext {
    visibility: visible;
} */

.easteregg .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.easteregg:hover .tooltiptext {
  visibility: visible;
}